@font-face{
    font-family: "HMSans";
    src:url("HarmonyOS_Sans.ttf");
}



h3{
    color: #3C3C3C;
}

.homeworkList {
    color: #232323;
    font-size: 22;
}
body{
    background-color: white;
    font-family: "HMSans";
}
#mainTitle{
    text-align: left;
    font-size: 30px;
}
#subTitle{
    text-align: left;
    font-size: 15px;
}
.date{
    font-size: 20px;
    color: #3C3C3C;
}