@font-face{
    font-family: "HMSans";
    src:url("HarmonyOS_Sans.ttf");
}

h3{
    color: #3C3C3C;
    font-size: 21px;
    line-height: 23px;
}



.homeworkList {
    color: #232323;
    font-size: 18px;
    line-height: 25px;
}
body{
    background-color: white;
    font-family: "HMSans";
}
#mainTitle{
    text-align: left;
    font-family: "HMSans";
    font-size: 31px;
}
#subTitle{
    text-align: left;
    font-size: 15px;
}
#warning{
    color: red;
}
.date{
    font-size: 23px;
    color: #3C3C3C;
}
ul{
    list-style: circle;
}
body{
    background-color:floralwhite;
}